@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@400;500;600&display=swap');
:root {
  --ff-bd: 'Poppins', sans-serif;
  --ff-hd: 'Oswald', sans-serif;
}
:root[theme-language='english'] {
  --ff-bd: 'Poppins', sans-serif;
  --ff-hd: 'Oswald', sans-serif;
}
:root [theme-language='nepali'] {
  --ff-bd: 'Mukta', sans-serif;
  --ff-hd: 'Oswald', sans-serif;
}
