.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-popup-content {
  background-color: var(--bg-color);
  min-width: 250px;
}
.leaflet-popup-content-wrapper {
  @include radius(4px);
}

.leaflet-control-container {
  .leaflet-left {
    z-index: 999;
    left: 1rem;

    .leaflet-control {
      margin: 0 !important;
    }

    &.leaflet-top {
      top: 1rem;
    }

    &.leaflet-bottom {
      right: 5rem;
      bottom: 1rem;
    }
  }

  .leaflet-control-layers,
  .leaflet-bar {
    border: none;
    box-shadow: none;
    border-radius: 0;

    a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: var(--body-color);
      @include prefix(
        transition,
        (all 0.4s ease-in-out),
        ('webkit', 'moz', 'ms', 'o')
      );
      border-color: var(--clr-body-300);

      &:hover {
        background-color: var(--primary-light);
        color: var(--primary-color);
      }
    }
  }

  .leaflet-right {
    left: 1rem;
    right: auto;

    &.leaflet-top {
      top: 5rem;
      border: 0;
    }
  }

  .leaflet-bottom {
    &.leaflet-right {
      right: 1rem;
      left: auto;
      top: 2rem;
      bottom: auto;
      @include radius(2px);

      .leaflet-control-attribution {
        display: none;
      }

      .leaflet-control {
        float: none;
        margin: 0;
        box-shadow: none;
        opacity: 1;
        @include radius(2px);
      }
    }
  }

  .leaflet-control-layers-toggle {
    width: 33px;
    height: 30px;
    background-size: 12px 12px;
    box-shadow: none;
    opacity: 1;
  }
}

.map-wrapper {
  border: 1px solid var(--clr-body-300);
  @include radius(4px);
  position: relative;
  .map {
    @include radius(4px);
  }
  .temprature-legend {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 999;
    background-color: var(--clr-white-900);
    padding: 8px;
    max-width: 280px;
    width: 100%;
    ul {
      width: 100%;
    }
    li {
      text-align: center;
      .bg-color {
        height: 12px;
        width: 100%;
      }
    }
  }
  .base-layer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 999;
    background-color: var(--clr-white-900);
    max-width: 180px;
    width: 100%;
  }
  .map-layers {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 999;
    background-color: var(--clr-white-900);
    border: 2px solid var(--clr-body-300);
    a {
      width: 28px;
      height: 28px;

      &:not(:last-child) {
        border-bottom: 2px solid var(--clr-body-300);
      }
      i {
        font-size: 1.3rem;
      }
    }
  }
}

.map-legend {
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  background-color: var(--clr-white-900);
  @include radius(5px);
  max-width: 600px;
  padding: 1rem;
  z-index: 2;

  .legend__title {
    margin: 0 0 0.6125rem 0;

    h6 {
      font-size: 1rem;
    }
  }

  ul {
    &.is-flex {
      @include flex-wrap(wrap);
      width: 100%;

      li {
        @include flex(0 0 33.3333333333%);
        max-width: 33.3333333333%;
        padding: 0.25rem 0.6125rem 0.25rem 0;
        @include align-items(start);

        span {
          &:not(:first-child) {
            @include trim(1);
          }
        }
      }
    }
  }
}

.button-list {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
  z-index: 9999;

  .setting-list {
    position: relative;

    a {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .is-dropdown {
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      @include prefix(
        transition,
        transform(translateX(20px)),
        ('webkit', 'moz', 'ms', 'o')
      );
      @include prefix(
        transition,
        (all 0.4s ease-in-out),
        ('webkit', 'moz', 'ms', 'o')
      );
      background-color: var(--clr-white-900);
    }

    &.is-active {
      .is-dropdown {
        opacity: 1;
        visibility: visible;
        @include prefix(
          transition,
          transform(translateY(0)),
          ('webkit', 'moz', 'ms', 'o')
        );
      }
    }
  }

  a {
    background: var(--clr-white-900);
    border: 0.5px solid var(--clr-body-300);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include transition(all 0.3s ease-in-out);
    width: 30px;
    height: 30px;

    &:hover {
      background: var(--primary-color);
      color: var(--clr-white-900);
    }

    &:not(:last-child) {
      margin-bottom: 8px;

      img {
        width: 30px;
        height: 25px;
      }
    }

    &:last-child {
      img {
        width: 20px;
        height: 20px;
      }
    }

    i.file-import-btn {
      cursor: pointer;
    }
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .grid-list {
    position: relative;

    .is-grid-dropdown {
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      @include prefix(
        transition,
        transform(translateY(10px)),
        ('webkit', 'moz', 'ms', 'o')
      );
      @include prefix(
        transition,
        (all 0.4s ease-in-out),
        ('webkit', 'moz', 'ms', 'o')
      );
      background-color: var(--clr-white-900);
      padding: 0.6125rem;
      min-width: 150px;

      h5 {
        font-size: 0.775rem;
        margin-bottom: 1rem;
      }

      .checkbox {
        label {
          padding-left: 1.3rem;
        }
      }

      .is-list {
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }

    &.is-active {
      .is-grid-dropdown {
        opacity: 1;
        visibility: visible;
        @include prefix(
          transition,
          transform(translateY(0)),
          ('webkit', 'moz', 'ms', 'o')
        );
      }
    }
  }
}

.map-popup-wrapper {
  p {
    margin: 0;
  }
  .content-list {
    margin: 1rem 0;
    li {
      p {
        margin-right: 1rem;
        min-width: 120px;
      }
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }
}
